﻿

<!DOCTYPE html>
<html lang="en">
<head>
    <title>AboutUs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <p>
        <center> <h1 style="color:brown; font-family:'Comic Sans MS'"> THE FORTIS 5 </h1> </center>
    </p>
    <p style="font-family:'Comic Sans MS'">
        <center>
            We are a team of five individuals who have expertise in different areas which we are using to develop a successful app.
            Our main strength is collaborating the ideas and work.
            Our Motto is to be the best!!
            Meet our Team
        </center>
    </p>
    <div style="margin-bottom:10px">
        <a href="https://bitbucket.org/radhaaddala/csis_coursemanager/"><b>Link to Repo</b></a>
    </div>

    <!--Modal start here-->
    <div class="col-lg-2 text-center">
        <div class="row">

            <div class="col-sm-12 ">
                <a class="thumbnail" data-toggle="modal" name="img1" onclick="loadThis(this.name)">
                    <img class="center-block" src="~/images/Kowshik1.JPG" alt="">
                    <h5>Kowshik Morishetty </h5>
                    <small>Planning & Designing</small>

                </a>
            </div>
            <div class="col-sm-12 ">
                <a class="thumbnail" data-toggle="modal" name="img2" onclick="loadThis(this.name)">
                    <img class="center-block" src="~/images/Ramya.JPG" alt="">
                    <h5>Ramya V Sankara</h5>
                    <small>Documentation & Database</small>

                </a>
            </div>
            <div class="col-sm-12 ">
                <a class="thumbnail" data-toggle="modal" name="img3" onclick="loadThis(this.name)">
                    <img class="center-block" src="~/images/Radha.JPG" alt="">
                    <h5> Satya Radha Addala</h5>
                    <small>Development & Testing</small>
                </a>
            </div>
            <div class="col-sm-12 ">
                <a class="thumbnail" data-toggle="modal" name="img4" onclick="loadThis(this.name)">
                    <img class="center-block" src="~/images/Vamsi.JPG" alt="">
                    <h5>Vamshinath N</h5>
                    <small>Development & Testing</small>
                </a>
            </div>
            <div class="col-sm-12 ">
                <a class="thumbnail" data-toggle="modal" name="img5" onclick="loadThis(this.name)">
                    <img class="center-block" src="~/images/Sandeep.jpg" alt="">
                    <h5>Sandeep V Rudraraju</h5>
                    <small>Planning & Database</small>
                </a>
            </div>

        </div>
    </div>


    <div class="col-lg-10">
        <div class="well">
            <div id="wellBody">

                <div class="modal-body" id="img1">
                    <img class="img-responsive center-block" src="~/images/Kowshik1.JPG" alt="">

                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:20px; color:darkblue ">
                        <center>
                            <b>Role:</b>
                            <i> Forte Fabricator !! </i>
                        </center>
                    </div>
                    <p class="linksHover">
                        <b>Email:</b>
                        <a href="mailto:s525065@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Feedback-52.png"></a>
                    </p>
                    <p class="linksHover">
                        <b>Find me:</b>
                        <a href="https://www.facebook.com/kowshik.morishetty" target="_blank"><img src="~/images/Facebook-48.png"></a>
                        <a href="https://in.linkedin.com/in/kowshik-morishetty-15b80447" target="_blank"><img src="~/images/Link-52.png"></a>
                        <a href="https://plus.google.com/110219066638356779307" target="_blank"><img src="~/images/Google Plus-48.png"></a>

                    </p>
                    <h3>Issues I've handled</h3>
                   <ul>
                       <li> Design of Courses Page</li>
                        <li>Linking the Courses page</li>
                        <li>Looked after the testing part</li>
                   </ul>
                    <a href="https://bitbucket.org/radhaaddala/csis_coursemanager/issues">Link to Issue Tracker</a>
                </div>

                <div class="modal-body" id="img2">
                    <img class="img-responsive center-block" src="~/images/Ramya.JPG" alt="">
                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:20px; color:darkblue ">
                        <center>
                            <b>Role:</b>
                            <i> Forte Creative Candidate !! </i>
                        </center>
                    </div>

                    <p class="linksHover">
                        <b>Email:</b>
                        <a href="mailto:s525107@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Feedback-52.png"></a>
                    </p>
                    <p class="linksHover">
                        <b>Find me:</b>
                        <a href="https://www.facebook.com/angel.ramya.10" target="_blank"><img src="~/images/Facebook-48.png"></a>
                        <a href="https://www.linkedin.com/in/ramya-sankara-86b47987?trk=nav_responsive_tab_profile" target="_blank"><img src="~/images/Link-52.png"></a>
                        <a href="https://plus.google.com/u/0/115498845295037043873/posts" target="_blank"><img src="~/images/Google Plus-48.png"></a>

                    </p>
                    <h3>Issues I've handled</h3>
                    <ul>
                        <li> Design and Develop User Review Page</li>
                        <li>Design and Develop Course Page</li>
                        <li>Documentation</li>
                        <li>Slides Preparation</li>
                        <li>Implemented Translator - can translate into any language </li>
                    </ul>
                    <a href="https://bitbucket.org/radhaaddala/csis_coursemanager/issues">Link to Issue Tracker</a>
                </div>
                <div class="modal-body" id="img3">
                    <img class="img-responsive center-block" src="~/images/Radha.JPG" alt="">


                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:20px; color:darkblue ">
                        <center>
                            <b>Role:</b>
                            <i>  Forte Tech Architect !! </i>
                        </center>
                    </div>
                    <p class="linksHover">
                        <b>Email:</b>
                        <a href="mailto:s524959@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Feedback-52.png"></a>
                    </p>
                    <p class="linksHover">
                        <b>Find me:</b>
                        <a href="https://www.facebook.com/radha.addala?fref=ts" target="_blank"><img src="~/images/Facebook-48.png"></a>
                        <a href="https://www.linkedin.com/in/satya-radha-addala-63913795" target="_blank"><img src="~/images/Link-52.png"></a>
                        <a href="https://plus.google.com/u/0/117902478732835558707/posts" target="_blank"><img src="~/images/Google Plus-48.png"></a>

                    </p>
                    <h3>Issues I've handled</h3>
                    <ul>
                        <li> Admin Authorization</li>
                        <li>Identity Implementation for UserReviews Page</li>
                        <li>Development of Faculty Page</li>
                        <li>Added ExternalProvider(facebook) for Login</li>
                        <li>Design of Faculty Page</li>
                    </ul>
                    <a href="https://bitbucket.org/radhaaddala/csis_coursemanager/issues">Link to Issue Tracker</a>
                </div>


                <div class="modal-body" id="img4">
                    <img class="img-responsive center-block" src="~/images/Vamsi.JPG" alt="">


                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:20px; color:darkblue ">
                        <center>
                            <b>Role:</b>
                            <i>  Forte Code Inspector !! </i>
                        </center>
                    </div>
                    <p class="linksHover">
                        <b>Email:</b>
                        <a href="mailto:s525069@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Feedback-52.png"></a>
                    </p>
                    <p class="linksHover">
                        <b>Find me:</b>
                        <a href="https://www.facebook.com/vamshi.nath.5?pnref=lhc.friends" target="_blank"><img src="~/images/Facebook-48.png"></a>
                        <a href="https://www.linkedin.com/in/vamshinath-nallamothu-29a883106?trk=hp-identity-name" target="_blank"><img src="~/images/Link-52.png"></a>
                        <a href="https://plus.google.com/115864933578249378107/posts" target="_blank"><img src="~/images/Google Plus-48.png"></a>

                    </p>
                    <h3>Issues I've handled</h3>
                    <ul>
                        <li>Design of jobs page</li>
                        <li>Design of the contacts page</li>
                        <li>Unit Testing</li>
                        <li>Created a common contact for the team</li>
                    </ul>
                    <a href="https://bitbucket.org/radhaaddala/csis_coursemanager/issues">Link to Issue Tracker</a>
                </div>
                <div class="modal-body" id="img5">
                    <img class="img-responsive center-block" src="~/images/Sandeep.jpg" alt="">


                    <div style="margin-top:3px; font-family:'Times New Roman', Times, serif;font-size:20px; color:darkblue ">
                        <center>
                            <b>Role:</b>
                            <i>  Forte Data Compiler !! </i>
                        </center>
                    </div>
                        <p class="linksHover">
                            <b>Email:</b>
                            <a href="mailto:s522619@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Feedback-52.png"></a>
                        </p>
                        <p class="linksHover">
                            <b>Find me:</b>
                            <a href="https://www.facebook.com/sandyzcool?fref=ts" target="_blank"><img src="~/images/Facebook-48.png"></a>
                            <a href="https://www.linkedin.com/in/sandeep-varma-rudraraju" target="_blank"><img src="~/images/Link-52.png"></a>
                            <a href="https://twitter.com/rsandeepvarma" target="_blank"><img src="~/images/Twitter-52.png"></a>

                        </p>
                        <h3>Issues I've handled</h3>
                        <ul>
                            <li>Implementation of About Page Design</li>
                            <li>Development of Useful Links Page</li>
                            <li>Design Useful Links Page</li>
                            <li>Managed the Team meetings and assisted in documentation</li>
                        </ul>
                       
                    <a href="https://bitbucket.org/radhaaddala/csis_coursemanager/issues">Link to Issue Tracker</a>



                </div>

            </div>
        </div>
    </div>

    <div id="popup1" class="modal fade " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Kowshik Morishetty</h4>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popup2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Ramya V Sankara</h4>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popup3" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Satya Radha Addala</h4>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popup4" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Vamshinath Nallamothu</h4>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popup5" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Sandeep Varma Rudraraju</h4>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#img1").show();
        $("#img2").hide();
        $("#img3").hide();
        $("#img4").hide();
        $("#img5").hide();
        function loadThis(asd) {
            console.log(asd);
            $("#img1").hide();
            $("#img2").hide();
            $("#img3").hide();
            $("#img4").hide();
            $("#img5").hide();
            $("#"+asd).show();

        }
    </script>
</body>
</html>

