﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<div>
    <div style="float:left; width:20%;">
        <img src="http://www.glewisassociates.com/wp-content/uploads/2015/10/Contact-Us.jpg" width="600" style="margin-top:20px;border:4px solid #ebebeb;" />
    </div>
    <div style="float:right; width:40%; margin-left:10px;">
        <div class="col-md-9">
            <div class="contact-form">
                <h4>Contact Info</h4>
                <address>
                    <strong>CSIS Course Manager.</strong><br>
                    800 University Dr, <br>
                    Maryville, MO, 64468<br>
                    <abbr title="Phone">P:</abbr> (660) 456-7890
                </address>
                <form action="MAILTO:csiscoursemanager@gmail.com" method="post" enctype="text/plain">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                    </div>
                    <button type="submit"> Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:900px;'>
    <div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.buywebtrafficexperts.com">buy targeted traffic</a></small></div>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important;
        }
    </style>
</div>
<script type='text/javascript'>function init_map() { var myOptions = { zoom: 10, center: new google.maps.LatLng(51.5073509, -0.12775829999998223), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(51.5073509, -0.12775829999998223) }); infowindow = new google.maps.InfoWindow({ content: '<strong>ContactUS</strong><br>NorthWest Missouri State University<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>



<div class="clearfix"></div>





