﻿@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <section id="intro" class="intro">
                <div class="slogan">
                    <h2 class="bounceInDown">WELCOME TO <span class="text_color">CSIS Course Manager</span> </h2>
                    <h4>
                        This app would help students and faculty to keep track of all the course details like<br /> syllabus, faculty members, teaching assistants, duration, credits, job postings
                    </h4>
                </div>
                <div class="page-scroll">
                    <a href="#service" class="btn btn-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </section>
        </div>
        <div class="item">
            <img src="~/images/carousel1.jpg" alt="CSIS Course Manager" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/carousel2.jpg" alt="CSIS Course Manager" class="img-responsive" />
            
        </div>
        <div class="item">
            <img src="~/images/carousel3.jpg" alt="CSIS Course Manager" class="img-responsive" />
            
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row" id="sections">
    <a asp-controller="Courses" asp-action="Index">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team boxed-grey">
                <div class="inner">
                    <h5>Courses</h5>
                    <div class="avatar"><img src="~/images/c6.jpg" alt="" class="img-responsive img-circle"></div>
                </div>
            </div>
        </div>
    </a>
    <a asp-controller="Faculties" asp-action="Index">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team boxed-grey">
                <div class="inner">
                    <h5>Faculty</h5>
                    <div class="avatar"><img src="~/images/faculty.jpg" alt="" class="img-responsive img-circle"></div>
                </div>
            </div>
        </div>
    </a>
    <a asp-controller="Jobs" asp-action="Index">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team boxed-grey">
                <div class="inner">
                    <h5>Jobs</h5>
                    <div class="avatar"><img src="~/images/jobs.jpg" alt="" class="img-responsive img-circle"></div>
                </div>
            </div>
        </div>
    </a>
    <a asp-controller="Jobs" asp-action="Index">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="team boxed-grey">
                <div class="inner">
                    <h5>User Reviews</h5>
                    <div class="avatar"><img src="~/images/reviews.png" alt="" class="img-responsive img-circle"></div>
                </div>
            </div>
        </div>
    </a>
</div>
