@model csis_coursemanager.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseTerm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Courselevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Courselevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditRange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sections)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sections)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Syllabus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Syllabus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
