@model csis_coursemanager.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseTerm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Courselevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Courselevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditRange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sections)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sections)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Syllabus)
        </dt>
        <dd>
            <a href=@Html.DisplayFor(model => model.Syllabus) target="_blank">Syllabus</a>
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.CourseAssistant.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseAssistant.FirstName) 
        </dd>*@
    </dl>
</div>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{ 
<p>
    <a asp-action="Edit" asp-route-id="@Model.CourseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
}