@model IEnumerable<csis_coursemanager.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
@using (Html.BeginForm())
{
    <p>
        Find by CourseTitle: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table courses">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courselevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditRange)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Sections)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Syllabus)
            </th>
            <th></th>*@
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <th>
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTerm)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CourseID">@Html.DisplayFor(modelItem => item.CourseTitle)</a>
                @*<a href="Details">@Html.DisplayFor(modelItem => item.CourseTitle)</a>*@
                @*@{ ViewBag.tit = @Html.DisplayFor(modelItem => item.CourseTitle); }
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">@ViewBag.tit</h4>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courselevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditRange)

            </td>
            @*<td>
                     @Html.DisplayFor(modelItem => item.Sections)
                 </td>
                 <td>
                     <a href="@Html.DisplayFor(modelItem => item.Syllabus)" target="_blank"> @Html.DisplayFor(modelItem => item.Syllabus)</a>
                 </td>
                <td>
                     <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                     <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                     <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                 </td>*@
            @if(ViewContext.HttpContext.User.IsInRole("Admin")){
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
            }
        </tr>
        
    }
</table>