@model csis_coursemanager.Models.Faculty

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>       
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.FacultyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
