@model IEnumerable<csis_coursemanager.Models.Faculty>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if(ViewContext.HttpContext.User.IsInRole("Admin")){
<p>
    <a asp-action="Create">Create New</a>
</p>}
@using (Html.BeginForm("Index", "Student"))
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm})
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
        <th></th>
}
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization)
        </td>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
        <td>
            <a asp-action="Edit" asp-route-id="@item.FacultyID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.FacultyID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.FacultyID">Delete</a>
        </td>
}
    </tr>
}
</table>
