﻿@using System.Security.Claims

@if (User.IsSignedIn())
{

    <ul class="nav navbar-nav">
        <li><a asp-controller="Courses" asp-action="Index">Courses</a></li>
        <li><a asp-controller="Faculties" asp-action="Index">Faculty</a></li>
        <li><a asp-controller="Jobs" asp-action="Index">Jobs</a></li>
        <li><a asp-controller="UsefulLinks" asp-action="Index">Useful Links</a></li>
        <li><a asp-controller="UserReviews" asp-action="Create">Reviews</a></li>
   </ul>
   
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                </li>
            </ul>
        </form>
        }
        else
        {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
            <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
        </ul>
        }
