﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(../images/background.jpg);
    background-size:100% 100%;
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.boxed-grey {
    background: #EBEBEB;
    padding: 20px;
}
.intro {
    width: 100%;
    position: relative;
    background: url(../../images/bg1.jpg) no-repeat top center;
    padding: 37% 0 10% 0;
    text-align:center;
    color: #000;
    background-repeat:no-repeat;
    margin-bottom:30px;
    width:100%;
    height:600px;
    background-size:100% 100%;
}
.intro h2{
    font-weight: bold;
}
#myCarousel{
    height:600px;
    margin-bottom:40px;
}
.carousel-inner > .item > img{
    width:100%;
    height:600px;
}
.intro .slogan{
    background-color: #fff;
    opacity: 0.5;
}
.logo{
    float:left;
    margin-right:10px;
    margin-top:7px;
}