@model csis_coursemanager.Models.UsefulLink

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsefulLink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hyperLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hyperLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.linkName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.linkName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.relatedCourse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.relatedCourse)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.UsefulLinkID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
