@model IEnumerable<csis_coursemanager.Models.UsefulLink>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hyperLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relatedCourse)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hyperLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relatedCourse)
        </td>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
        <td>
            <a asp-action="Edit" asp-route-id="@item.UsefulLinkID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.UsefulLinkID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.UsefulLinkID">Delete</a>
        </td>
}
    </tr>
}
</table>
