@model IEnumerable<csis_coursemanager.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.hyperLink)
        </th>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
        <th></th>
        }
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            <a href=@Html.DisplayFor(modelItem => item.hyperLink)> Apply </a>
        </td>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
        <td>
            <a asp-action="Edit" asp-route-id="@item.JobID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.JobID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.JobID">Delete</a>
        </td>
}
    </tr>
}
</table>
