﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h2>
       You are successfully registerd. <br /><br />

        Please <a asp-controller="Account" asp-action="Login">Log in</a>
    </h2>

</div>
<div style="height:400px"></div>
